/*header style*/
.logo {
	display: inline-block;
	font-size: 55px;
	color: #FF7A00;
	width:100px;
	height: 74px;
	margin-right: 50px;

}

/*.logo::after {
		content: "BAZER SHOP";
		font-size: 24px;
		display: inline-block;

}*/
.header-wrapper{
	margin-bottom: 50px;
    margin-left: 200px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.navigation{
	display: inline-block;
}
.nav-li{
	display: inline-block;
	margin-right: 40px;
}
.image-wrapper {
	width: 100%;
	height: 382px;
}
.image-wrapper1{ 
	position: relative;

}
.banner-text{
	position: absolute;
	top: 25%;
}
.banner-text p{
	font-size: 22px;
	color: #FFFFFF;
	margin-left: 1000px;

}
.banner-text h2{
	font-size: 48px;
	color: #FFFFFF;
	margin-left: 1000px;
}

.first-article {
	margin-left: 138px;
	padding-top: 138px;
	width: 138px;
	height: 31px;
	font-size: 22px;
	color: #FF7A00;
	margin-left: 200px;
	padding-top: 138px;
	width: 138px;
	height: 31px;
	margin-bottom: 100px;
}
.nav-a {
	color: #181C28;
	font-size: 16px;
}
body{
	padding-top: 138px; 
}
/*body style */
.first-contaier{
	display: inline-block;
	height: 510px;
	margin-left: 200px;

}
.article-1{
	width: 563px;
	height: 94px;
	font-size: 36px;
	color: #181C28;
}
.text-wrapper1{
	font-size: 16px;
	width: 636px;
	height: 81px;
	color: #7B7B7B;
	opacity: 1
	font: normal normal normal 16px/26px;
	text-align: left;
}
.nav-readmore{
	font-size: 14px;
	color: #FF7A00;

}
.second-contaier{
	display: inline-block;
	height: 510px;
	margin-left: 200px;
	margin-top: 50px;
}
.nav-button{
	border: 3px solid #FF7A00;
	width: 190px;
	height: 70px;
	color: #FF7A00;
	margin: 0 auto;
	background-color: #FF7A00;
	margin-top: 100px;
}
.nav-button p{
	font-size: 16px;
	color: white;
	padding-top: 25px;
    padding-left: 43px;
}
.background-section {
	width: 100%;
	height: 266px;
	margin-top: 210px;
	background-color: #181C28;
}
/*footer*/
footer{
	width: 100%;
	height: 400px;
	background-color: white;
}
.mini-box{
	width: 200px;
	height: 33px;
	margin-left: 200px;
	padding-top: 85px;
	display: inline-block;
}
h2{
	font-size: 24px;
	color: #282828;
}
h4::after {
	content: ' \2015';
	width: 47px;
	height: 4px;
	
}


.nav-li2{
	padding-top: 15px;
}
.mini-box2 {
	width: 250px;
	height: 33px;
	margin-left: 200px;
	padding-top: 85px;
	display: inline-block;
}
.mini-box3{
	display: inline-block;
	margin-left: 250px;
}
.image-logos {
	width: 250px;
	height: 33px;

	display: inline-block;
	margin
}